
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Schoolbell&display=swap');
      
/* CORES 
#1F3467 - AZUL ESCURO
#3A75B7 - AZUL MEDIO
#D2E9EF - AZUL CLARO
#D7201A - VERMELHO CLARO
#BB1C17 - VERMELHO ESCURO
#431551 - ROXO ESCURO
#883E8E - ROXO CLARO
#105B1F - VERDE ESCURO
#25803B - VERDE MEDIO
#7DC058 - VERDE CLARO
#F7D827 - AMARELO
*/


/* GERAL -------------------------------------------------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  
  /* fonte importada do google.fonts
   font-family: "Schoolbell", cursive; */
font-family: "Patrick Hand", cursive;
  background-color: rgb(0, 0, 0);                               
}

  /* fonte importada do google.fonts */
.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

/*outra fonte para teste*/
/*.schoolbell-regular {
  font-family: "Schoolbell", cursive;
  font-weight: 400;
  font-style: normal;
}*/




:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  position: relative;

}

/* HEADER -------------------------------------------------------------------------------------------*/

.header {
  height: var(--tamanho-header);
  border-bottom: 2px solid #ffffff;
  background-image: url('../assets/imgs/holder-banana1.png');
  background-size: 500px;
  background-position: top;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  display: flex;
  width: 100%;
  margin: auto;
}

/*.header .container {
  justify-content: space-around;
  align-items: center;
  height: 100%;
  display: flex;
  width: 100%;
  margin: auto;
}*/

.irmaozinho {
  position: absolute;
  left: 20px;
  height: 70px;
  width: 70px;
}

.header a {
  text-decoration: none;
  color: #3A75B7;
}


.navbar {
  font-weight: 800;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  list-style: none;
  color: #3A75B7;

}

.titulo {
  color: #D7201A;
  width: fit-content;
  font-weight: 500;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0)
}

.diario-header {
  color: #F7D827;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(0, 0, 0)
}

.header h1 {
  margin: 0;
}

/* BANNER -------------------------------------------------------------------------------------------*/

.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/teste2.jpeg');
  background-size: 1350px;
  background-position: center;
  background-color: #1F3467;
   justify-content: space-around;
 /* height: 60%;*/
  display: flex;
  flex-direction: row;
  position: relative;
}


.banner .banana {
  color: #BB1C17;
  font-size: 100px;
margin-top: 2px;

  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(255, 255, 255)
}

.de_um {
  color: #BB1C17;
  font-size: 40px;
  margin-bottom: 2px;
  margin-top: 2px;
 
  

  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255)
}

.banner .diario {
  color: #F7D827;
  font-size: 80px;
  font-family: Georgia, serif;
  margin-bottom: 2px;
  /*
  margin-top: 320px;
  margin-bottom: 500px;*/
  /*display: flex;*/
  /*gap: 10px;*/
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black
}

.posicao-letras-banner {
display: flex;
flex-direction: column;
align-items: center;
}

.posicao-letras-banner2 p {
display: flex;
flex-direction: row;
align-items:center;
justify-content: right;
position: absolute;
}

.posicao-letras-banner2 {
  position: absolute;
    bottom: 28%; 
  right: 12%; 
width: 30%;
  text-align:center;
}


.posicao-letras-banner2 p {
  font-size: 24px;
  color: #000000;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}


.familia {
 /* position: absolute;*/
 /* left: 30px;*/
  height: 400px;
  width: 500px;
  margin-top: 100px;
 /* top: 150px;*/
  border: 3px solid #adadad;
  border-radius: 10px;
}

.fita-adesiva {
  position: absolute;
  height: 100px;
  width: 100px;

}

.fita1 {
  left: 10px;
  top: 150px;
}

.fita2 {
  left: 280px;
  top: 330px;
}

.fita3 {
  right: 30px;
  top: 170px;
}

.fita4 {
  right: 110px;
  top: 360px;
}

.greg-papel {
  position: absolute;
  right: 70px;
  height: 180px;
  width: 90px;
  top: 225px;
  border: 3px solid #adadad;
  border-radius: 10px;
}

/* SOBRE O PROJETO -------------------------------------------------------------------------------------------*/

.social {
  height: 800px;
  display: flex;
  background-image: url('../assets/imgs/fundo-folha.png');
  background-size: 1200px;
  background-position: right;
  justify-content: center;
  align-items: center;
}

.social .boxes {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 80%;
  padding: 10px 0;
  flex-direction: row;
  background-color: #1F3467;
  border: 5px solid #688dc5;
  border-radius: 10px;
}

.social p {
  text-align: justify;
  background-color: #BB1C17;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 20px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.greg-famoso {
 /* right: 10px;*/
  height: 400px;
  width: 500px;
  /*top: 20px;
  margin-top: 20px;*/
}

.fita5 {
  right: 37%;
  top: 140%;
}

.fita6 {
  right: 13%;
  top: 170%;
}

.subtitulos {
  color: #F7D827;
  font-size: 50px;
  /*-webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: rgb(0, 0, 0)*/
}

/* SOBRE MIM -------------------------------------------------------------------------------------------*/
.container-sobre-mim {
  height: 1150px;
  display: flex;
  background-image: url('../assets/imgs/fundo-folha.png');
  background-size: 1200px;
  background-position: right;
  justify-content: center;
  align-items: center;
}

.container-sobre-mim .boxes {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 80%;
  padding: 10px 0;
  flex-direction: row;
  background-color: #BB1C17;
  border: 5px solid #000;
  border-radius: 10px;
}

.container-sobre-mim p {
  text-align: justify;
  background-color: #f5ca55;
  border-radius: 10px;
  border: 3px solid #000000b4;
  padding: 20px;
}


.clube-livros {
  /*right: 10px;*/
  height: 200px;
  width: 400px;
  /*top: 20px;
  border: 3px solid #adadad;
  border-radius: 10px;*/
}

.minha-foto {
  right: 10px;
  height: 320px;
  width: 250px;
  top: 20px;
  border: 3px solid #adadad;
  border-radius: 10px;
  margin-top: 60px;
}

.rodrick-bateria {
  right: 10px;
  height: 280px;
  width: 300px;
  top: 20px;
  border: 3px solid #adadad;
  border-radius: 10px;
}

.fita7 {
  right: 460px;
  top: 1680px;
}

.fita8 {
  right: 170px;
  top: 1840px;
}

.fita9 {
  right: 200px;
  top: 1960px;
}

.fita10 {
  right: 400px;
  top: 2270px;
}

.fita11 {
  left: 170px;
  top: 2000px;
}

.fita12 {
  left: 450px;
  top: 2250px;
}

/* CURIOSIDADES -------------------------------------------------------------------------------------------*/
.container-curiosidades {
  height: 1600px;
  display: flex;
  background-image: url('../assets/imgs/fundo-folha.png');
  background-size: 1200px;
  background-position: right;
  justify-content: center;
  align-items: center;
}

.container-curiosidades .boxes {
  display: flex;
  justify-content: space-around;
  width: 90%;
  height: 80%;
  padding: 10px 0;
  flex-direction: row;
  background-color: #1F3467;
  border: 5px solid #688dc5;
  border-radius: 10px;
}

.container-curiosidades p {
  text-align: justify;
  background-color: #BB1C17;
  border-radius: 10px;
  border: 3px solid #000;
  padding: 20px;
  margin-top: 70px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
}

.punicao-mae {
  right: 10px;
  height: 200px;
  width: 320px;
  top: 20px;
  border: 3px solid #adadad;
  border-radius: 10px;
}

.manny-jogo {
  right: 10px;
  height: 200px;
  width: 320px;
  top: 20px;
  border: 3px solid #adadad;
  border-radius: 10px;
}

.fita13 {
  right: 150px;
  top: 3000px;
}

.fita14 {
  right: 450px;
  top: 3180px;
}

.fita15 {
  right: 470px;
  top: 3490px;
}

.fita16 {
  right: 170px;
  top: 3680px;
}
/* FOOTER-------------------------------------------------------------------------------------------*/

.footer {
  height: 100px;
  color: #ffffff;
  display: flex;
  font-size: 15px;
  background-image: url('../assets/imgs/fundo-banner.png');
  background-size: 1500px;
  background-position: center;
  justify-content: center;
  text-align: center;
}

/* LOGIN -------------------------------------------------------------------------------------------*/

.login {
  height: var(--tamanho-login);
  background-color: #431551;
  background-size: cover;
  height: 600px;


}

.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 50%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
}

.card h2 {
  margin: 0;
  font-size: 30px;
}

.card_login {
   background-color:#883E8E; 
  color: #431551;
  border: 3px solid #fbbcff; 
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  border: 2px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  background-color: #ffffff;
}

.formulario select {
  border: 2px solid #000000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 2px solid #000;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #F7D827;
  width: 120px;
  height: 30px;
  align-self: center;
  margin-top: 20px;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* CADASTRO -------------------------------------------------------------------------------------------*/

.cadastro {
  height: var(--tamanho-login);
  background-color: #25803B;
  background-size: cover;
  height: 600px;
}

.cadastro .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

}

.card_cadastro {
  background-color: #105B1F;
  color: #7DC058;
  border: 3px solid #7DC058;
}



/* FORMULARIO -------------------------------------------------------------------------------------------*/

.alerta_erro {
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/*CADASTRO LIVROS --------------------------------------------------------------------------------------*/
.container-cadastro-livros {
  height: 1000px;
  display: flex;
  background-image: url('../assets/imgs/fundo-folha.png');
  background-size: 1200px;
  background-position: right;
  justify-content: center;
  align-items: center;
}

.container-cadastro-livros .boxes-livros {
  display: flex;
  align-items: center;
  width: 90%;
  height: 80%;
  padding: 10px;
  flex-direction: column;
  background-color: #1F3467;
  border: 5px solid #688dc5;
  border-radius: 10px;
}

.container-cadastro-livros .boxes {
  display: flex;
  align-items: center;
  width: 90%;
  height: 80%;
  padding: 10px;
  flex-direction: column;
  background-color: #1F3467;
  border: 5px solid #688dc5;
  border-radius: 10px;
}

.estrutura-titulo-conteudo{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  width: 100%;
  padding: 10px;
}

.card-estrutura-livros {
  width: 70%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: fit-content;
  padding: 20px 0;
  margin-right: 100px;
}

.card_cadastroLivro {
  background-color: #b12525;
  color: #F7D827;
  border: 3px solid #000000;
}

.familia-piscina {
  height: 380px;
  width: 560px;
  margin-right: 20px;
}

.formulario-livros {
  display: flex;
  height: 90%;
  width: 80%;
  align-items:center;
  flex-direction: column;
}

.formulario-livros span {
  font-size: 15px;
  font-weight: 800;
  color: #F7D827;
}

.formulario-livros input {
  border: 2px solid #000000;
  text-align: center;
  border-radius: 10px;
  margin: 0;
  background-color: #ffffff;
}

.formulario-livros select {
  border: 2px solid #000000;
  background-color: white;
  color: gray;
  height: 36px;
  text-align: center;
  border-radius: 10px;
  margin: 0;
}


.div-livro {
    display: flex;
    gap: 30px;
    width: 900px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 12px;
    background-color: #b12525;
}

.livro-imagem img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid black;
}

.avaliacoes {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}


.avaliacao {
    padding: 15px;
    border-radius: 10px;
    background-color: #1F3467;
     border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.avaliacao h4 {
    margin: 0;
    font-size: 18px;
    color: #b12525;
}

.avaliacao span {
    font-weight: bold;
    color: #F7D827;
}

.avaliacao p {
    margin: 0;
    color: #F7D827;
    line-height: 1.4;
}


/* SIMULADOR -------------------------------------------------------------------------------------------*/

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA -------------------------------------------------------------------------------------------*/

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}